@use '../../lib/service.scss' as s;

.form {
	display: flex;
	flex-direction: column;
	padding: s.space(6);
	gap: s.space(6);

	border: 1px solid s.color('light');
	border-radius: s.radius('form');
	box-shadow: 2px 2px 4px 0 s.color('light');

	&__title {
		font-size: s.size('formTitle');
		font-weight: bold;
		color: s.color('dark-grey');
	}

	&__content {
		display: grid;
		gap: s.space(3);
	}

	&__fieldsInLine {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: s.space(3);
	}

	&__field {
		display: flex;
		flex-direction: column;
		gap: s.space(2);
	}

	&__label {
		color: s.color('dark-grey');
		font-size: s.size('label');
	}

	&__input {
		border: 1px solid s.color('light');
		padding: s.space(2);
		border-radius: s.radius('input');
		font-size: s.size('default');
	}

	&__buttons {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: s.space(2);
	}

	&__button__edit {
		@extend .form__input;
		border: none;
		background-color: s.color('light-blue');
		color: s.color('button');
	}
	
	&__button__delete {
		@extend .form__input;
		display: block;
		
		border: none;
		background-color: s.color('delete');
		color: s.color('button');

		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		
		height: 100%;
	}
}