@use '../../lib/service.scss' as s;

.button {

	display: block;
	padding: s.space(2) s.space(4);
	border-radius: s.radius('input');

	// max-width: 400px;
	width: 100%;
	height: fit-content;
	
	font-size: s.size('default');
	text-align: center;
	text-decoration: none;
	color: s.color('button');
	
	background-color: s.color('light-blue');

	position: relative;

	transition-property: background-color, top;
	transition-duration: 0.5s;

	cursor: pointer;
}

.button:hover {
	background-color: s.color('light-light-blue');
}

.button:active {
	top: 1px;
}