@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as purchaseProduct;
@use '../../component/field/style.scss' as field;
@use '../../component/divider/style.scss' as divider;
@use '../../component/button/style.scss' as button;


.form-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: s.space(6);
	gap: s.space(6);

	border: 1px solid s.color('light');
	border-radius: s.radius('form');
	box-shadow: 2px 2px 4px 0 s.color('light');

	max-width: 940px;
	width: 100%;
	min-width: 530px;
}

.cart {
	display: flex;
	flex-direction: column;
	gap: s.space(3);
	width: 100%;
}

.cart__item {
	display: flex;
	flex-direction: row;
	gap: s.space(2);
	justify-content: space-between;

	font-weight: bold;
	color: s.color(dark-grey);
}

.form-card__total {
	font-weight: bold;
	font-size: s.size(formTitle);
	color: s.color(dark-grey);
}

.item__table {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: s.space(6);
	justify-content: flex-start;

	width: 100%
}
