@use '../../lib/service.scss' as s;

.add-button {
	display: grid;
	grid-template-columns: 92px 1fr;
	align-items:  center;
	gap: s.space(6);
	color: s.color(light);
	font-size: 18px;
}

.track {
	display: grid;
	grid-template-columns: 92px 1fr 42px;
	gap: s.space(7);
	align-items: center;

	&__list {
		display: grid;
		gap: s.space(7);
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: s.space(2);
	}

	&__name {
		font-size: 24px;
		color: s.color(light);
	}

	&__author {
		font-size: s.size(default);
		color: s.color(light-gray);
	}
}