{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
	{{> heading}}

	{{!-- <section>
		<h1 class="page__title">{{title}}</h1>
		<p>{{info}}</p>
	</section> --}}

	<section class="product-list">

		{{#each data.list}}
		{{> purchase-product data=this}}
		{{/each}}

	</section>
</div>



{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}