@use '../../lib/service.scss' as s;

.search {
	background-color: #292929;
	padding: s.space(2) s.space(8);
	border-radius: 8px;

	display: grid;
	grid-template-columns: 48px 1fr auto;
	gap: s.space(8);

	color: s.color(light);
	font-size: 24px;

	&__button {
		color: s.color(light);

		position: relative;

		transition-property: opacity, top;
		transition-duration: 0.6s;

		&:hover{
			opacity: 0.6;
		}

		&:active {
			top: 1px;
		}
	}
}


.playlist {
	display: grid;
	grid-template-columns: 92px 1fr;
	gap: s.space(7);
	align-items: center;

	&__list {
		display: grid;
		gap: s.space(7);
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: s.space(2);
	}

	&__name {
		font-size: 24px;
		color: s.color(light);
	}

	&__amount {
		font-size: s.size(default);
		color: s.color(light-gray);
	}
}