@use '../../lib/service.scss' as s;

.item__cell {
	display: flex;
	flex-direction: column;
	gap: s.space(3);
	justify-content: space-between;
	align-items: flex-start;
}

.item__label {
	font-size: s.size(label);
	color: s.color(light-gray);
}

.item__info {
	font-size: s.size(default);
	color: s.color(dark-gray);
}
